.table-image{
    text-align: center;
    color: aliceblue;
    min-height: 150px;
    background-image: url(../images/fon.png);
    background-size:100%;
    margin-bottom: 2%;
}

.Menu h2{
    text-align: center;
}
.Menu_grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Menu_forma{
    width: 49%;
    min-width: 290px;
    min-height: 300px;
    margin-bottom: 2%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 16px;

    /* background-color: #f5f5f5; */
    box-shadow: 0 0 8px 1px #c6c5c5;
    transition: all .2s linear;
}

@media screen and (max-width: 1000px){
    .Menu_forma{
        width: 100%;
    }
}

.menu_position_main{
    min-width: 60%;
    min-height: 60%;
    padding: 30px;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.menu_position{
    min-width: 60%;
    max-width: 60%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}
.menu_position_2{
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;

    justify-content: space-between;
    padding-top: 20px;
    height: 30px;
}
.menu_position_description{
}
.position_price{
    font-family: TTNormsPro-Regular;
    margin: 0;
    font-size: 18px;
}
.menu_input{
    background-color: #fff;
    color:rgb(0, 0, 0);
    border-radius: 8px;
    font-family: var(--rd-font-family-light);
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 22px;
    outline: none;
}
.menu_position_price{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
    padding-top: 20px;
    height: 30px;
}
.Menu_image{
    min-width: 40%;
    min-height: 40%;
}
.Menu_image img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit:cover;
    background-color: #fafafa;
    border-left: 1px solid rgba(0,0,0,.1);
    position: relative;
}